h1{
	color:#8C7355;
}

form{
	display: none;
	margin-left:25%;
	width: 50%;
	border: solid 3px;
	border-radius: 8px;
	padding:5px ;
}

summary{
	color: #8C7355;
}

details{
	border: black solid 1px;
	border-radius: 8px;
	padding:3px;
}

.navBar {
  overflow: hidden;
  background-color: #8C7355;
}
.navBar a {
  float: left;
  color: #8C7355;
  background-color: #F9EFE4;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navBar a:hover {
  background-color: #594936;
  color: floralwhite;
}


.btn-primary{
	background-color: #3A2314; 
	border: solid 2px;
	padding: 7px;
	border-radius: 8px;
	color: floralwhite;
}

.btn-primary:hover, 
#submitForm:hover, 
#resetForm:hover{
	background-color: floralwhite;
	color: #3A2314;
}

#submitForm, #resetForm{
	border: solid black 2px;
	border-radius: 8px;
	background-color: #3A2314;
	color: floralwhite;
}